@model StockMaze.Models.Customer

@{
    ViewData["Title"] = "Create";
}
<h1 style="padding-top:80px;" class="text-center">Add a New Customer</h1>

<hr />

<div style="padding-top:20px;" class="row text">
<div class="col-md-8 offset-2">
<div class="row">
<div class="col-md-8 offset-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="customerName" class="control-label"></label>
                <input asp-for="customerName" class="form-control" />
                <span asp-validation-for="customerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customerAddress" class="control-label"></label>
                <input asp-for="customerAddress" class="form-control" />
                <span asp-validation-for="customerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customerPhone" class="control-label"></label>
                <input asp-for="customerPhone" class="form-control" />
                <span asp-validation-for="customerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="customerEmail" class="control-label"></label>
                <input asp-for="customerEmail" class="form-control" />
                <span asp-validation-for="customerEmail" class="text-danger"></span>
            </div>
        <div style="padding-top:10px;" class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                       <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
                    </div>
        </form>
    </div>
</div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
